.main-dv-child{
  background-color: #fff200;
  width: 100%;

  border-radius: 10px;
  border: blue solid;

}
#main-dv-child3{
  display: flex;
  flex-flow: row;
  height: 400px;
}
#container0{
  display: flex;
  flex-direction: column;
  width: 10%;



}
#container1{


  width: 60%;

  background-color: #4a9d7a;
  border: #325949 solid;
  float: left;

}

#container2{
  width: 30%;

}
#container0, #container1, #container2{
  background-color: #4a9d7a;
  height: 95%;
  display: block;
  margin: 1px;
}
.canvasjs-stock-container{
position: absolute;

}
/*.canvasjs-chart-canvas{*/

/*  */
/*  border: darkorange solid;*/
/*}*/
